{% extends "base.html" %}
{% load static %}
{% block title %} Signup {% endblock %}
{% block main %}
<main>
    <section class="registration-form-section">
        <div class="container">
            <div class="img-container">
                <picture>
                    <source srcset="{% static 'img/formImage03.webp' %}" type="image/webp" loading="lazy">
                    <img src="{% static 'img/formImage02.jpg' %}" class="form-img" alt="form-image" loading="lazy">
                </picture>   
                
            </div>
            <div class="form-container">
                <form action="" class="signup-form">
                    {% csrf_token %}
                    <h2> Create an account </h2>
                    <p>Do you have an account ? <a href="{% url 'login'%}">Sign in </a> </p> 
                    <div class="input-container">
                    {{ form }}
                        <!--
        
                        <input type="text" name="name" placeholder="Enter your name" required >
                        <input type="email" name="email" placeholder="Enter your email" required>
                        <input type="password" name="password" placeholder=" Enter your password" required>
                        <input type="password" name="password-confirmation" placeholder=" Confirm your password" required>
                         -->
                    </div> 
                    <button type="submit" name="signup-btn"> Submit </button>
                </form>
            </div>
    </section>
</main>
{% endblock %}
