@import url("reset.css");

/* Header style */ 

.header-container{
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: 2rem;
        align-items: center;
        justify-items: center;
        border-bottom: 0.1px solid var(--color-border);
       margin-bottom: 25px;
        /*background-color: var(--color-main-bg-sec);*/

}

.header-container .logo-container{
        grid-column: 1;
}

.header-container .icons-container{
        grid-column: 2;
        padding-top: 7px;
}
.icons-container .research-icon, .login-icon{
        display: none;
}
.logo-container .logo{
        font-size: 1.2rem;
}


/* Footer Style*/

.footer-container{
        border-top:0.1px solid var(--color-border);
        display: grid;
        grid-template-rows: repeat(2, 1.5rem);
        justify-items: center;
        align-items: center;   
}

.social-icons{
        grid-row: 1;
}

.social-icons svg{
        color: var(--color-main-light);
        width: 18px;
        transition: color 0.3s ease; /* Smooth transition for color change on hover */
}
.social-icons svg:hover{
        color: var(--color-main-sec);
}

.copyright{
        grid-row: 2;
        font-size: 0.8rem;
        font-weight: 400;
        color: var(--color-main-light);
}

/*Category secction*/ 
.section-category{
        display: none;
}

