@import url("reset.css");


/* Header style */ 
.header-section{
        border-bottom: 0.1px solid var(--color-border);
        margin-bottom: 25px;
}

.header-section .container{
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: 2rem;
        align-items: center;
        justify-items: center; 
}

.header-section .container .logo-container{
        grid-column: 1;
}

.header-section .container .icons-container{
        grid-column: 2;
        padding-top: 7px;
}

.header-section .icons-container svg {       
        color:  var(--color-main);
        width: 55px;
        transition: color 0.3s ease; /* Smooth transition for color change on hover */
}

.header-section .icons-container svg:hover{
        color: var(--color-main-sec);
}

.header-section .logo-container .logo{
        font-size: 1.2rem;
}


/* Footer Style*/
.footer-section{
        border-top:0.1px solid var(--color-border);
}

.footer-section .container{
        display: grid;
        grid-template-rows: repeat(2, 1.5rem);
        justify-items: center;
        align-items: center;
        margin-top: 5px;   
}

.footer-section .container .social-icons{
        grid-row: 1;
}

.footer-section .social-icons svg{
        color: var(--color-main-sec);
        width: 18px;
        transition: color 0.3s ease; /* Smooth transition for color change on hover */
}

.footer-section .social-icons svg:hover{
        color: var(--color-main);
}

.footer-section .container .copyright{
        grid-row: 2;
        font-size: 0.6rem;
        font-weight: 400;
        color: var(--color-main-light);
}


/*Category section*/ 
.category-section{
        display: none;
}

/* Post Section */ 
.post-section .container{
        display: grid;

}

.post-section .latest-tag{
     display: none;
}

/* Post style  */
.post-section .container .post-container{
        display: flex;
        flex-direction: column;
        padding: 15px;
        margin-bottom: 20px;
        background-color: var(--color-main-bg-sec);
        border-radius: 7px;
} 

/* Post image  */
.post-section .post-container .post-img{
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-radius: 7px;
}

/* post header*/
.post-section .post-body .post-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
}

.post-section .post-header svg{
    padding-top: 7px;
    width: 18px;
    color: var(--color-main-sec);
}

.post-section .post-header p {
        font-size: 0.7rem;
        color: var(--color-main-sec);
    }

/* post category, title, description*/
.post-section .post-body .category-container{
        display: flex;       
}

.post-section .category-container .category{
        font-size: 0.6rem;
        color: var(--color-link);
        margin: 0 3px;
        padding: 5px;
        background-color: var(--color-main-bg);
        border-radius: 5px;
}
.post-section .post-body .post-title{
        font-size: 1.4rem;
}

.post-section .post-body .post-description{
        font-size: 1rem;
        color: var(--color-main-sec);
}

/* author container */ 
.post-section .post-container .author-container{
        display: flex;
        font-size: 1rem;
        color: var(--color-main);
        align-items: center;
        gap: 10px;
        margin-top: 5px;
}

.post-section .author-container .author-img{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
}

.post-section .author-container p{
        padding-bottom: 5px;
}

/*Read more */ 
.post-section .post-container .read-more{
        display: flex;
        font-size: 0.8rem;
        align-items: center;
        margin: 0 0 20px;
        gap: 5px;  
}

.post-section.read-more svg{
        width: 20px;
        padding-top: 3px;
}
