{% extends "base.html" %}
{% load static %}
{% block title %} {% endblock %}
{%block main%} 
    <main>
       <section class="hero">
            <section class="post-section">
            <div class="container post-view">
                <article class="post-container">
                    <div>
                        <picture>
                            {% if post.image %}
                                <img src="{{ post.image.url }}" alt="{{ post.title }}" loading="lazy" class="post-img">
                            {% else %}
                                <img src="{% static 'img/notfound.png' %}" alt="{{ post.title }}" loading="lazy" class="post-img">
                            {% endif %}
                        </picture>

                    </div>
                    <div class="post-body">
                        <div class="post-header">
                            <p>{{post.created_at}}</p>
                            <div>
                                <svg class=" like-icon w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12.01 6.001C6.5 1 1 8 5.782 13.001L12.011 20l6.23-7C23 8 17.5 1 12.01 6.002Z"/>
                                </svg>

                                <svg class="share-icon" aria-label="share" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                    <path d="M17.5 3a3.5 3.5 0 0 0-3.456 4.06L8.143 9.704a3.5 3.5 0 1 0-.01 4.6l5.91 2.65a3.5 3.5 0 1 0 .863-1.805l-5.94-2.662a3.53 3.53 0 0 0 .002-.961l5.948-2.667A3.5 3.5 0 1 0 17.5 3Z"/>
                                </svg>
                                <svg class="save-icon" aria-label="save" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m17 21-5-4-5 4V3.889a.92.92 0 0 1 .244-.629.808.808 0 0 1 .59-.26h8.333a.81.81 0 0 1 .589.26.92.92 0 0 1 .244.63V21Z"/>
                                </svg>
                            </div>
                        </div>
                        <div class="category-container">
                                {% if post.category.exists %}
                                      {% for category in post.category.all %}
                                        <p  class="category">{{ category.name }}</p>
                                      {% endfor %}
                                {% else %}
                                    <p class="category">No category</p>
                                {% endif %}
                        </div>


                        <h2 class="post-title"> {{post.title}} </h2>
                        <div>
                            <p> {{post.content}}</p>
                        </div>
                    </div>

                    <div class="author-container">
                        <picture>
                            <source srcset="{% static 'img/user0.webp' %}" type="image/webp" loading="lazy">
                            <img src="{% static 'img/user0.jpg' %}" class="author-img" alt="user-image" loading="lazy">
                        </picture>
                        <p> <span style="color: #cccccc"> {{post.author.pseudonym}} </span>  | {{post.author.profile.name}}  </p>
                    </div>

                    <a href=" {% url 'index' %} " class="read-more">
                        <span> See all posts  </span>
                        <svg class="aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="15" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4"/>
                        </svg>
                    </a>

                     <a href="{% url 'updatepost' post.pk %} ">update</a>
                    <a href="{% url 'deletepost' post.slug %} ">delete</a>
                </article>
       </section>
    </main>
{%endblock%}


