{% extends "base.html" %}
{% block title %} Update user {% endblock %}
{% block main %}
<div class="registration-form-section">
    <div class="container">
        <main>
            <h1>Saved posts</h1>
            <div class="posts-grid">
                {% for post in posts %}
                    <article class="post-item">
                        <h2><a href="{% url 'postdetail' post.slug %}">{{ post.title }}</a></h2>
                        <p>Categories:
                            {% for cat in post.category.all %}
                                <span>{{ cat.name }}</span>{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </p>
                        <p>{{ post.description|truncatewords:20 }}</p>

                        <div style="margin-bottom:50px ">
                            <form method="post" action="{% url 'savepost' post.slug %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Remove from favorites</button>
                        </form>
                        </div>
                    </article>

                {% empty %}
                    <p>You have not saved any posts yet.</p>
                    <a href="{% url 'index' %}" class="btn">Browse posts</a>
                {% endfor %}
            </div>
        </main>
    </div>
</div>
{% endblock %}
