{% extends "base.html" %}
{% block title %} profil view {% endblock %}
{% block main %}

<main>
    <section class="registration-form-section">
        <div class="container">
            <div class="form-container">
                <h2 class="head-badge"> Welcome {{profile.name}}</h2>
                <div class="profile-user-infos">
                    <p class=""> {{ profile.user}} </p>
                    <p class=""> {{ profile.user.pseudonym}} </p>
                </div>

                <div class="profile-user-container">
                    <p class="profile-user-link"> <a href="{% url 'savedposts' %}">Saved Posts</a> </p>
                    <p class="profile-user-link"><a href="{% url 'createdposts' %}">Created Posts</a></p>
                    <p class="profile-user-link"><a href="{% url 'createpost' %}">Create  a new Post </a></p>
                </div>

                <div class="profile-user-container">
                    <p class="profile-user-link"><a href="{% url 'userUpdate' %}"> Update your authentification informations </a></p>
                    <p class="profile-user-link"><a href="{% url 'profileUpdate' %}"> Update your profile</a></p>
                    <p class="profile-user-link"><a href="{% url 'userDelete' %}"> Delete your account </a></p>
                </div>


                <form method="post" action="{% url 'logout' %} ">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">logout</button>
                </form>
            </div>
        </div>
    </section>
</main>
{% endblock %}
