{% extends "base.html" %}
{% block title %} profil view {% endblock %}
{% block main %}
<main>
    <h1> profile view </h1>
    <p> {{ profile}} </p>
    <p> {{ profile.user}} </p>
    <p><a href="{% url 'userUpdate' %}"> Update User infos </a></p>
    <p><a href="{% url 'userDelete' %}"> delete User infos </a></p>
    <p><a href="{% url 'profileUpdate' %}"> Update Profile</a></p>
    <form method="post" action="{% url 'logout' %} ">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">logout</button>
     </form>
</main>
{% endblock %}
