{% extends "base.html" %}
{% block title %} update user  {% endblock %}
{% block main %}
<div class="registration-form-section">
    <div class="container">
        {% for category in categories %}
        <p> {{ category.name }}
            <a href="{% url 'updatecategory' category.pk %} ">update</a>
            <a href="{% url 'deletecategory' category.pk %} ">delete</a>
        </p>
        {% endfor %}
        <p><a href="{% url 'createcategory' %}"> Create a new Category</a></p>
        <p><a href="{% url 'profile' %}"> Manage Posts</a></p>
    </div>
</div>

{% endblock %}