
{% extends "base.html" %}
{% block title %} update user  {% endblock %}
{% block main %}

<main>
    <div class="registration-form-section">
        <div class="container">
            <h1>My Posts</h1>
            <div class="posts-grid">
                {% for post in posts %}
                    <article class="post-item">
                        <h2><a href="{% url 'postdetail' post.slug %}">{{ post.title }}</a></h2>
                        <p>Catégories :
                            {% for cat in post.category.all %}
                                <span>{{ cat.name }}</span>{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </p>
                        <p>{{ post.description|truncatewords:20 }}</p>

                        <div class="profile-user-container">
                            <a href="{% url 'postdetail' post.slug %}" class="profile-user-link">See the post </a>
                            <a href="{% url 'updatepost' post.pk %} " class="profile-user-link">Update the post</a>
                            <a href="{% url 'deletepost' post.slug %} " class="profile-user-link">Delete the post</a>
                        </div>
                    </article>

                {% empty %}
                    <p>Vous n'avez pas encore d'articles sauvegardés.</p>
                    <a href="{% url 'index' %}" class="btn">Parcourir les articles</a>
                {% endfor %}
            </div>
        </div>
    </div>
</main>

{% endblock %}